#table-container{
    margin-top: 4em;
    text-align: center;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}

#emblem{
    width: 8%;
}

#return{
    margin-top: 34vh;
}

#detailed{
    width: 20vh;
    text-align: center;
}

#form-add{
    margin-top: 1em;
}

#form-modify{
    display: none;
}

#return-insert{
    margin-top: 1vh;
    text-align:right;
}

#search-form{
    margin-top: 35vh;
}

#search-container{
    margin-top: 5vh;
}

#delete-button{
    margin-top: 5vh;
}
